# IDEs
.vscode/
.idea/
*.iml

# Node
node_modules/
coverage/

# Compiled files
main.js
styles.css
styles.css.map
main.css
dist/
build/

# Reports and Caches
.cache/
css_report.txt
lint_report.txt

# MkDocs
site/

# System / OS
.DS_Store
*.lnk

# Environment / Local Configurations
.env
.vault-config.json
.envrc
.direnv/
.export-to-txt.py